.main
    padding-top headerHeight

header
    background spartakRed
    width 100%
    height headerHeight
    position fixed
    overflow-x auto
    z-index 5

    .header-logo
        position absolute
        width 50px
        height 50px
        background transparent url('../../static/images/70.svg') no-repeat 50% 50%
        top 8px
        left 55px

        @media (max-width 860px)
            display none

    .timeline
        max-width 604px
        margin 0 auto
        padding 31px 30px 0 30px
        list-style none
        display flex
        justify-content space-between
        align-items center
        position relative

        &-element
            position relative
            text-align center

            &.active
                .timeline-hint
                    display block
                    position absolute
                    top -10px
                    left 50%
                    transform translate(-50%, -50%)

                .timeline-number
                    background transparent url('../../static/images/timeline-active.svg') no-repeat 50% 50%

        &-hint
            display none
            font-family Times, serif
            font-size 13px
            line-height 16px
            color spartakOrangeLighter
            white-space nowrap

        &-number
            width 38px
            height 21px
            display block
            font-family 'garamondc', serif
            font-size 10px
            line-height 22px
            color spartakOrangeLighter
            text-decoration none

            &:hover
                color #FEFEFE