.period
    text-align center
    padding-top 36px
    animation .5s .5s fade backwards ease-out

    &-year
        font-family 'litteraplainregular', sans-serif
        color spartakOrangeLight
        font-size 48px
        line-height 48px
        margin-bottom 7px

        @media (max-width screenXsm)
            font-size 36px

    &-number
        background transparent url('../../static/images/period-number.svg') no-repeat 50% 50%
        background-size contain
        font-family 'garamondc', serif
        color spartakOrangeLighter
        font-size 16px
        line-height 38px
        height 34px

        &-orange
            background-image url('../../static/images/period-number-orange.svg')

        @media (max-width screenXsm)
            font-size 12px

    &-dark
        .period-number
            color spartakOrangeLight
