@import "variables"
.spartak-bg-red
    background-image: url('../../css/images/spartak5-bg.png')
    background-repeat no-repeat
    background-position 50% 0
    background-size contain
    position relative
    padding-bottom 60%
    background-attachment fixed

    @media (min-width 1024px)
        background-size cover

    .container
        z-index 1

.quote-mayorov
    float left
    position relative
    left -140px
    top -9px
    width 138px
    height 560px

    img
        width 280px

    .image-capture
        position absolute
        left -39px
        bottom -63px

.quote-blinov
    float right
    position relative
    width 135px
    right -15px
    bottom 37px

    img
        width 240px

    .image-capture
        position absolute
        right -160px
        bottom -61px

.spartak5-zinger-wrapper
    position absolute
    bottom 0
    left 0
    right 0
    &:after
        content ''
        position absolute
        left 0
        bottom -2px
        right 0
        width 100%
        height 3px
        background #000000

    .image-capture
        position absolute
        right 115px
        bottom 58%

.footer-image
    padding-top 34px
