@import "variables"

header
    box-shadow 0 0 3px 0 rgba(0,0,0,.5)

.spartak-index
    &-wrapper
        position relative
        overflow hidden
        @media (max-width screenXsm)
            background transparent url('../../static/images/index/top600.jpg') no-repeat 50% 0
            background-size contain

    &-logo
        text-align center
        padding-top 50px
        margin-top 0
        margin-bottom 0
        padding-bottom 30px


    &-top
    &-bottom
    &-puck
        position fixed
        top 0
        left 0
        right 0
        bottom 0
        display block

        @media (max-width screenXsm)
            display none

    &-puck
        bottom 20px
        top auto
        left 50%
        margin-left -125px


.footer-nav-link
    color spartakOrangeLight
    border 1px solid spartakOrangeLight
    border-radius 6px
    padding 17px 0
    width 500px
    display block
    margin 0 auto
    max-width 100%

    &:after
        top 50%
        right 15px
        transform translateY(-50%)
        background-image url('../../static/images/arrow-right-hover.svg')

    &:hover
        color spartakOrangeLighter
        &:after
            background-image url('../../static/images/arrow-right-orange.svg')

.table-of-contents-wrapper h2
.release-workers-wrapper h2
    color #000000
    font-family Times, serif
    font-size 12px
    line-height 17px
    text-transform uppercase
    letter-spacing 4.5
    text-align center

.table-of-contents
    &-wrapper
        padding-top 54px

    &-list
        margin 0
        padding 0
        list-style none

        .table-of-contents-element
            text-align center
            position relative
            margin 46px 0

            &:first-of-type
                margin-top 30px

            &:before
                content ''
                position absolute
                top 2px
                left 50%
                transform translateX(-50%)
                font-family Times, serif
                font-size 72px
                line-height 48px
                color spartakDarkerRed

            &-1
                &:before
                    content 'I'
            &-2
                &:before
                    content 'II'
            &-3
                &:before
                    content 'III'
            &-4
                &:before
                    content 'IV'
            &-5
                &:before
                    content 'V'
            &-6
                &:before
                    content 'VI'
            &-7
                &:before
                    content 'VII'
            &-8
                &:before
                    content 'VIII'
            &-9
                &:before
                    content 'IX'
            &-10
                &:before
                    content 'X'
            &-11
                &:before
                    content 'XI'
            &-12
                &:before
                    content 'XII'
            &-13
                &:before
                    content 'XIII'
            &-14
                &:before
                    content 'XIV'

        a
            font-family Times, serif
            color spartakOrangeLighter
            text-decoration none
            font-size 20px
            line-height 24px
            position relative

            &:hover
                color spartakOrangeLight

.release-workers
    &-wrapper
        padding-top 50px

    &-list
        margin 0
        margin-top 30px
        padding 0
        list-style none

    &-element
        font-family Times, serif
        color spartakOrangeLighter
        width 50%
        display inline-block
        vertical-align top
        margin-right -4px
        margin-bottom 25px

        @media (max-width screenXsm)
            width 100%
            margin-right 0

    &-name
        font-size 18px
        line-height 23px
        display block

    &-responsibility
        opacity .7
        font-size 16px
        line-height 19px

    &-gratitude
        padding-top 20px
        padding-bottom 40px
        font-family Times, serif
        color spartakOrangeLighter
        font-size 17px
        line-height 23px

        &-link
            color spartakOrangeLighter

            &:hover
                color spartakOrangeLight

