@import "variables"
.quote-shalimov
    float right
    position relative
    width 140px
    height 450px
    left 15px
    top 2px

    img
        width 278px

    .image-capture
        position absolute
        bottom 80px
        right -162px

    @media (max-width screenSm)
        float none
        display block

.spartak8-game
    &-wrapper
        position relative
        margin-bottom 88px

    &-title
        position absolute
        right -20px
        top -15px
        transform translate(-50%)

        @media (max-width screenSm)
            display none