@import "variables"

.spartak6
    &-top-wrapper
        position relative

        .period-wrapper
            position absolute
            top 0
            left 50%
            width 100%
            transform translateX(-50%)
            box-sizing border-box

        .text-wrapper
            @media (min-width screenMd)
                margin-top -150px
            @media (max-width screenMd)
                margin-top -50px

    &-image-wrapper
        @media (max-width screenXsm)
            min-height 100px
        @media (min-width screenXsm) and (max-width screenMd)
            min-height 300px
        @media (min-width screenMd)
            min-height 600px


.quote-yakushev
    float right
    position relative
    width 140px
    right 59px
    bottom 14px

    img
        width 480px

    .image-capture
        position absolute
        right -235px
        bottom -40px
        @media (max-width screenXsm)
            display none

@media (max-width screenSm)
    .quote-yakushev
        float none
        height auto
        display block
        width 100%
        left 0
        right 0

        img
            max-width 100%

        .image-capture
            right -360px
            top 15px

.quote-zimin
    float right
    position relative
    width 140px
    right -18px
    bottom 31px

    img
        width 380px

    .image-capture
        position absolute
        right -161px
        bottom -158px

    @media (max-width screenSm)
        float none
        display block
        width 100%
        left 0
        right 0

        img
            max-width 100%

    @media (max-width screenXsm)
        .image-capture
            display none

    @media (min-width screenXsm) and (max-width screenSm)
        .image-capture
            top 0
            right -300px