@import "variables"

.quote-kovalchuk
    float right
    position relative
    width 140px
    height 450px
    left -216px
    top 3px

    img
        width 543px

    .image-capture
        position absolute
        bottom 8px
        right -367px


    @media (max-width screenSm)
        float none
        left 0
        top 0
        height auto
        width 100%
        img
            max-width 100%

        .image-capture
            display none

.spartak11-coach
    &-wrapper
        position relative
        margin-bottom 90px

    &-title
        position absolute
        right 0
        top 0
        transform translateX(-50%) translateY(-50%)

@media (max-width screenMd)
    .spartak11-coach-title
        top 0
        bottom -7px
        transform translateX(-50%) translateY(100%)
        left 50%