@import "variables"

.quote-score
    float right
    width 180px
    font-family 'litteraplainregular', sans-serif
    font-size 24px
    line-height 34px
    padding-left 50px
    padding-top 5px
    color spartakOrange

    img
        margin-left 40px
        margin-bottom 5px

    @media (max-width screenXsm)
        float none
        display block
        width 100%
        margin 34px 0
        padding 0

        img
            margin 0 auto 10px auto
            display block

.quote-captain
    float right
    position relative
    width 145px
    height 360px

    img
        position absolute
        top -10px
        right -31px

    .image-capture
        position absolute
        right -156px
        bottom 42px


@media (max-width screenXsm)
    .quote-captain
        display none

@media (min-width screenXsm) and (max-width 900px)
    .quote-captain
        padding-left 10px

        img
            right 0

        .image-capture
            display none

.spartak1-top-wrapper
    z-index 2

.main
    position relative

.gallery
    position fixed
    top headerHeight
    left 0
    right 0

    &-element
        display none

        &.active
            display block

    &-bg
        position absolute
        width 100%
        top 0
        left 0
        bottom 0
        background rgba(0, 0, 0, .6)
        z-index 1
