@import "variables"
.footer-image-title
    transform translate(-50%, 0)

.quote-starschinov
    float right
    position relative
    width 140px
    height 450px
    left 18px
    top 22px

    img
        width 380px

    .image-capture
        position absolute
        bottom 23px
        right -175px

    @media (max-width screenSm)
        float none
        display block
        height auto
        margin-bottom 34px

    @media (max-width screenXsm)
        .image-capture
            display none

    @media (min-width screenXsm) and (max-width screenSm)
        .image-capture
            right -380px

.karpov
    &-wrapper
        position relative
        padding-bottom 40%

    &-image
        position absolute
        top -25px
