.footer-image
    &-title
        right -13px
        top 33px

.spartak-theme
    position relative
    overflow hidden

    .spartak
        position absolute
        top 30px
        left 0
        right 0
        height 920px
        background transparent url('../../css/images/spartak.svg') no-repeat 50% 0

.quote-bobrov
    float right
    position relative
    left -4px
    bottom 12px
    width 135px
    height 430px

    img
        width 280px

    .image-capture
        position absolute
        right -140px
        bottom -80px

.quote-cup
    float right
    position relative
    left 0
    bottom -4px
    width 130px
    height 255px


    .image-capture
        position absolute
        right -168px
        bottom 75px
