.quote-kovalchuk
    float right
    position relative
    width 140px
    height 450px
    left -216px
    top 3px

    img
        width 543px

    .image-capture
        position absolute
        bottom 8px
        right -367px

.spartak11-coach
    &-wrapper
        position relative
        margin-bottom 90px

    &-title
        position absolute
        right 0
        top 0
        transform translateX(-50%) translateY(-50%)