screenMd = 960px
screenSm = 720px
screenXsm = 480px
screenXs = 300px

headerHeight = 64px

spartakOrangeLighter = #F2E5D3
spartakOrangeLight = #FAB078
spartakOrange = #D2956B
spartakRed = #CF0A2C
spartakDarkRed = #A00A24
spartakDarkerRed = #970922

@keyframes fade
    from
        transform translateY(.25em)
        opacity 0
    to
        transform translateY(0)
        opacity 1