@font-face
    font-family 'litteratextbook'
    src url('../../css/fonts/litteratext/litteratext-book.woff2') format('woff2'),
        url('../../css/fonts/litteratext/litteratext-book.woff') format('woff')
    font-weight normal
    font-style normal
