@font-face
    font-family 'litteratextlight'
    src url('../../css/fonts/litteratext/litteratext-light.woff2') format('woff2'),
        url('../../css/fonts/litteratext/litteratext-light.woff') format('woff')
    font-weight normal
    font-style normal
