@font-face
    font-family 'litteratextbold'
    src url('../../css/fonts/litteratext/litteratext-bold.woff2') format('woff2'),
        url('../../css/fonts/litteratext/litteratext-bold.woff') format('woff')
    font-weight normal
    font-style normal
