@font-face
    font-family 'litteratextregular'
    src url('../../css/fonts/litteratext/litteratext-regular.woff2') format('woff2'),
        url('../../css/fonts/litteratext/litteratext-regular.woff') format('woff')
    font-weight normal
    font-style normal
