@font-face
    font-family 'litteratextmedium'
    src url('../../css/fonts/litteratext/litteratext-medium.woff2') format('woff2'),
        url('../../css/fonts/litteratext/litteratext-medium.woff') format('woff')
    font-weight normal
    font-style normal
