@-webkit-keyframes fade {
  from {
    -webkit-transform: translateY(0.25em);
            transform: translateY(0.25em);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade {
  from {
    -webkit-transform: translateY(0.25em);
            transform: translateY(0.25em);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
.spartak2-wrapper {
  background-color: #000;
  background-repeat: no-repeat;
  background-position: 50% 100%;
  background-size: contain;
  position: relative;
  padding-bottom: 48%;
}
.spartak2-wrapper .image-capture {
  position: absolute;
  right: 100px;
  bottom: -47px;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}
@media (max-width: 1060px) {
  .spartak2-wrapper .image-capture {
    display: none;
  }
}
.footer-image {
  padding-top: 60px;
}
.footer-image-title {
  right: -8px;
  top: 37px;
}
