.spartak2-wrapper {
  background-color: #000;
  background-image: url("../../css/images/spartak2-bg.png");
  background-repeat: no-repeat;
  background-position: 50% 100%;
  background-size: contain;
  position: relative;
  padding-bottom: 48%;
}
.spartak2-wrapper .image-capture {
  position: absolute;
  right: 100px;
  bottom: -47px;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}
@media (max-width: 1060px) {
  .spartak2-wrapper .image-capture {
    display: none;
  }
}
.footer-image {
  padding-top: 60px;
}
.footer-image-title {
  right: -8px;
  top: 37px;
}
