.footer-image-title {
  right: -13px;
  top: 33px;
}
.spartak-theme {
  background: transparent url("../../css/images/spartak.svg") no-repeat 50% 10px;
}
.quote-bobrov {
  float: right;
  position: relative;
  left: -4px;
  bottom: 12px;
  width: 135px;
  height: 430px;
}
.quote-bobrov img {
  width: 280px;
}
.quote-bobrov .image-capture {
  position: absolute;
  right: -140px;
  bottom: -80px;
}
.quote-cup {
  float: right;
  position: relative;
  left: 0;
  bottom: -4px;
  width: 130px;
  height: 255px;
}
.quote-cup .image-capture {
  position: absolute;
  right: -168px;
  bottom: 75px;
}
