@-webkit-keyframes fade {
  from {
    -webkit-transform: translateY(0.25em);
            transform: translateY(0.25em);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade {
  from {
    -webkit-transform: translateY(0.25em);
            transform: translateY(0.25em);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
.quote-bragin {
  float: right;
  position: relative;
  width: 140px;
  height: 400px;
  left: 20px;
  top: -15px;
}
.quote-bragin img {
  width: 360px;
}
.quote-bragin .image-capture {
  position: absolute;
  bottom: -46px;
  right: -154px;
}
@media (max-width: 960px) {
  .quote-bragin {
    float: none;
    left: 0;
    top: 0;
    height: 450px;
    width: 100%;
    display: block;
    text-align: center;
  }
  .quote-bragin img {
    max-width: 100%;
  }
  .quote-bragin .image-capture {
    bottom: 25px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}
footer .container {
  z-index: 1;
}
.spartak2001-wrapper {
  position: relative;
}
.spartak2001-wrapper .image-capture {
  position: absolute;
  right: 85px;
  top: 10px;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}
@media (max-width: 800px) {
  .spartak2001-wrapper .image-capture {
    display: none;
  }
}
