@-webkit-keyframes fade {
  from {
    -webkit-transform: translateY(0.25em);
            transform: translateY(0.25em);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade {
  from {
    -webkit-transform: translateY(0.25em);
            transform: translateY(0.25em);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
.footer-image-title {
  right: -13px;
  top: 33px;
}
.spartak-theme {
  position: relative;
  overflow: hidden;
}
.spartak-theme .spartak {
  position: absolute;
  top: 30px;
  left: 0;
  right: 0;
  height: 920px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 50% 0;
}
@media (max-width: 480px) {
  .spartak-theme .spartak {
    display: none;
  }
}
.quote-bobrov {
  float: right;
  position: relative;
  left: -4px;
  bottom: 12px;
  width: 135px;
  height: 430px;
}
@media (max-width: 480px) {
  .quote-bobrov {
    display: none;
  }
}
.quote-bobrov img {
  width: 280px;
}
.quote-bobrov .image-capture {
  position: absolute;
  right: -140px;
  bottom: -80px;
}
.quote-cup {
  float: right;
  position: relative;
  left: 0;
  bottom: -4px;
  width: 130px;
  height: 255px;
}
@media (max-width: 480px) {
  .quote-cup {
    display: none;
  }
}
.quote-cup .image-capture {
  position: absolute;
  right: -168px;
  bottom: 75px;
}
