@-webkit-keyframes fade {
  from {
    -webkit-transform: translateY(0.25em);
            transform: translateY(0.25em);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade {
  from {
    -webkit-transform: translateY(0.25em);
            transform: translateY(0.25em);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
.quote-score {
  float: right;
  width: 180px;
  font-family: 'litteraplainregular', sans-serif;
  font-size: 24px;
  line-height: 34px;
  padding-left: 50px;
  padding-top: 5px;
  color: #d2956b;
}
.quote-score img {
  margin-left: 40px;
  margin-bottom: 5px;
}
@media (max-width: 480px) {
  .quote-score {
    float: none;
    display: block;
    width: 100%;
    margin: 34px 0;
    padding: 0;
  }
  .quote-score img {
    margin: 0 auto 10px auto;
    display: block;
  }
}
.quote-captain {
  float: right;
  position: relative;
  width: 145px;
  height: 360px;
}
.quote-captain img {
  position: absolute;
  top: -10px;
  right: -31px;
}
.quote-captain .image-capture {
  position: absolute;
  right: -156px;
  bottom: 42px;
}
@media (max-width: 480px) {
  .quote-captain {
    display: none;
  }
}
@media (min-width: 480px) and (max-width: 900px) {
  .quote-captain {
    padding-left: 10px;
  }
  .quote-captain img {
    right: 0;
  }
  .quote-captain .image-capture {
    display: none;
  }
}
.spartak1-top-wrapper {
  z-index: 2;
}
.main {
  position: relative;
}
.gallery {
  position: fixed;
  top: 64px;
  left: 0;
  right: 0;
  background-repeat: no-repeat;
  background-position: 50% 0;
  padding-bottom: 60%;
  background-size: cover;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.gallery-bg {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  background: rgba(0,0,0,0.6);
  z-index: 1;
}
