.players-wrapper {
  position: relative;
}
.players-wrapper .image-capture {
  position: absolute;
  right: -25px;
  bottom: 0;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  top: 50%;
  margin-top: 11px;
}
@media (max-width: 960px) {
  .players-wrapper .image-capture {
    display: none;
  }
}
.quote-player {
  float: right;
  position: relative;
  width: 140px;
  height: 365px;
}
.quote-player img {
  position: absolute;
  top: 0;
  left: 28px;
}
.quote-player .image-capture {
  position: absolute;
  right: -130px;
  top: 104px;
}
.footer-image {
  padding-top: 40px;
}
.footer-image-title {
  right: -47px;
}
