@-webkit-keyframes fade {
  from {
    -webkit-transform: translateY(0.25em);
            transform: translateY(0.25em);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade {
  from {
    -webkit-transform: translateY(0.25em);
            transform: translateY(0.25em);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@media (min-width: 960px) {
  .quote-kovalchuk-wrapper {
    background-repeat: no-repeat;
    background-position: 84% 4px;
    position: relative;
  }
  .quote-kovalchuk-wrapper p {
    padding-right: 140px;
  }
  .quote-kovalchuk img {
    display: none;
  }
  .quote-kovalchuk .image-capture {
    position: absolute;
    bottom: 28%;
    right: -23%;
  }
}
@media (max-width: 960px) {
  .quote-kovalchuk {
    display: block;
    text-align: center;
    padding-bottom: 20px;
  }
  .quote-kovalchuk-wrapper {
    background: transparent !important;
  }
  .quote-kovalchuk img {
    max-width: 100%;
  }
}
.spartak11-coach-wrapper {
  position: relative;
  margin-bottom: 90px;
}
.spartak11-coach-title {
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}
@media (max-width: 960px) {
  .spartak11-coach-title {
    top: 0;
    bottom: -7px;
    -webkit-transform: translateX(-50%) translateY(100%);
            transform: translateX(-50%) translateY(100%);
    left: 50%;
  }
}
