@font-face
    font-family 'litteraplainbold'
    src url('../../css/fonts/litteraplain/litteraplain-bold.woff2') format('woff2'),
        url('../../css/fonts/litteraplain/litteraplain-bold.woff') format('woff')
    font-weight normal
    font-style normal
