@font-face
    font-family 'litteraplainbook'
    src url('../../css/fonts/litteraplain/litteraplain-book.woff2') format('woff2'),
        url('../../css/fonts/litteraplain/litteraplain-book.woff') format('woff')
    font-weight normal
    font-style normal
