@font-face
    font-family 'litteraplainlight'
    src url('../../css/fonts/litteraplain/litteraplain-light.woff2') format('woff2'),
        url('../../css/fonts/litteraplain/litteraplain-light.woff') format('woff')
    font-weight normal
    font-style normal
