@font-face
    font-family 'litteraplainmedium'
    src url('../../css/fonts/litteraplain/litteraplain-medium.woff2') format('woff2'),
        url('../../css/fonts/litteraplain/litteraplain-medium.woff') format('woff')
    font-weight normal
    font-style normal
