@font-face
    font-family 'garamondc'
    src url('../../css/fonts/garamondc/garamondc.woff2') format('woff2'),
        url('../../css/fonts/garamondc/garamondc.woff') format('woff')
    font-weight normal
    font-style normal
